<div class="row">
  <div class="col-sm-8">
    <h2>Column 1</h2>
    <p>Hello, {{name}}!</p>
  </div>
  <div class="col-sm-4">
    <div class="well"
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet ac tortor eu laoreet. Nunc vulputate vel mi id facilisis. Sed consequat pellentesque metus.</p>
    </div>
  </div>
</div>
<div class="row">
	<div class="col-sm-12">
		<p>This is a test.</p>
	</div>
</div>