<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    rel="stylesheet">

      <script src="js/amcharts/amcharts.js" type="text/javascript"></script>
      <script src="js/amcharts/serial.js" type="text/javascript"></script>
           <script src="js/amcharts/pie.js" type="text/javascript"></script>
      <script src="js/amcharts/themes/light.js" type="text/javascript"></script>

<link  rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>

    <script src="js/bootstrapscript.js"></script>


       <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="../js/bootstrapscript.js"></script>

    <link  rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http:////code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>


   <script async src="//code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="autocomplete/autocomplete.js"></script>
        <script type="text/javascript" src="autocomplete/jquery.ui.autocomplete.html.js"></script>


<script src="js/charts.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>
  
  <body onload="showdashboard()">
    <div class="wrapper">
      <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
          <!-- sidebar -->
          <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
            <ul class="nav">
              <li>
                <a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a>
              </li>
            </ul>
            <ul class="nav hidden-xs" id="lg-menu">
             
            <a href="home.html"><i class="glyphicon glyphicon-home"></i> Home</a>
        </li>
     

          
            <ul class="nav visible-xs" id="xs-menu">
              <li>
                <a href="home.html" class="text-center"><i class="glyphicon glyphicon-home"></i></a>
              </li>
            

            </ul>
          </div>
         
          <div class="column col-sm-10 col-xs-11" id="main">
            <!-- top nav -->
            <div class="navbar  navbar-inner navbar-static-top">
              <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand logo">Group</a>
              </div>
              <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Project 603 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="">My Profile</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                  
              </nav>
            </div>
            <!-- /top nav -->
            <div class="padding">
              <div class="full col-sm-14">
                  <!-- row -->
                   <div class="row">
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                        </div>
                        </div>
                       </div>
                     </div>

                <div class="row">

                  <div class="col-sm-12">

                    <div class="panel panel-default">


                      <div class="panel-body">

                                <div class="dropdown">
                               
                           <h3 class="panel-title">
                          Quantity



                              </h3>







                        <table class="table table-condensed table-hover">
                                    <tbody>
                                      <tr class="active">
                                        <td>
                                            <a href="patient.html">
                                           Dulce1 </a>
                                        </td>
                                        <td>
                                          10
                                        </td>
                                        <td>
                                          50
                                        </td>
                                        <td>
                                          20
                                        </td>
                                          <td>
                                          $1200
                                        </td>
                                      </tr>
                                    <tr>
                                        <td>
                                            Dulce2
                                        </td>
                                        <td>
                                          12
                                        </td>
                                        <td>
                                          30
                                        </td>
                                        <td>
                                          20
                                        </td>
                                          <td>
                                          $850
                                        </td>
                                      </tr>
                                    <tr>
                                        <td>
                                            dulce3
                                        </td>
                                        <td>
                                          14
                                        </td>
                                        <td>
                                          34
                                        </td>
                                        <td>
                                          20
                                        </td>
                                          <td>
                                          $200
                                        </td>
                                      </tr>
                                    <tr>
                                        <td>
                                            Dulce4
                                        </td>
                                        <td>
                                          16
                                        </td>
                                        <td>
                                          30
                                        </td>
                                        <td>
                                          17
                                        </td>
                                          <td>
                                          $400
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /row -->
                <!-- Charts -->
                <div class="row">
                  <!-- main col left -->
                  <div class="col-sm-6">
                    <div class="panel panel-default">
                      <div class="panel-body">
                            <h3 class="panel-title">
                          Forecasting <span id="date"></span>
                        </h3>
                     <div id="total-spend" class="chart-col-6"></div> 
                      </div>
                    </div>
                  </div>
                  <!-- main col right -->
                  <div class="col-sm-6">
                    <div class="panel panel-default">
                      <div class="panel-body">
                           <h3 class="panel-title">
                          Replacement <span id="date"></span>
                        </h3>
                       <div id="cost-bd" class="chart-col-6"></div> 
                      </div>
                    </div>
                  </div>
                </div>
                <!--/row-->

              </div>
              <!-- /col-9 -->
            </div>
            <!-- /padding -->
          </div>
          <!-- /main -->
        </div>
      </div>
    </div>









</body>

</html>