<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | Inventory Support System</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='/bootstrap/js/bootstrap.js'></script>
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" 
              data-toggle="collapse" data-target="#main-navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              Inventory Support System
            </a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
              <li><a href="/inventory">Inventory</a></li>
              <li><a href="/vendors">Vendor Products</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <div id="main-content" class="container-fluid">
        <h1>{{title}}</h1>
        {{{body}}}
      </div>
      <footer>
        <p><small>For development only</small></p>
      </footer>
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
      // use javascript to show which navbar item should be selected
      // select if the first part of the current path matches the HREF
      var curPath = window.location.pathname;
      if (curPath) {
        var pathParts = curPath.split('/');
        if (pathParts.length > 1 && pathParts[1]) {
          var matching = $('#main-navbar').find('a[href^="/' + pathParts[1] + '"]');
          if (matching.length > 0) {
            var wrapper = $(matching.parents('li').get(0));
            wrapper.addClass('active');
          }
        }
      }
    });
    </script>
  </body>
</html>
